

body{
   background-color: rgb(201, 225, 248);
   margin: 0;
   padding: 0;
}

h1{
   color: plum; 
   background-color: grey;
   font-size: 3rem;
   margin: auto;
   text-align: center;
}

.game-area{
   padding-top: 1rem;
   // margin-top: 111rem;
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: auto;
}
.game-sub-area{
   display: flex;
   flex-direction: row;
}





.smiley-and-board{
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: .4rem;
}

.smiley{
   padding: 0 .15rem .3rem;
   font-size: 2rem;
   cursor: pointer;
   border-radius: 50%;
   // height: 80%;
   // width: 100%;
}
.smiley:hover{
   background-color: rgb(119, 147, 173);
   // border: .2rem solid black;
   // font-size: 2.25rem;
}


.game-board-container{
   display: flex;
   flex-direction: column;
   // width: 10rem;
   border: .3rem solid black;
   padding: 0;
}


tr{
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
   border: none;
}

.single-cell{
   width: 3rem;
   height: 3rem;
   display: flex; 
   // flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border: .1rem solid black;
}
// .single-cell:hover{
// }

.closed{
   background-color: silver;
}
.closed:hover{
   background-color: rgb(226, 221, 221);
}

.open{
   background-color: whitesmoke;
}

